<!--input 의 정보를 받아 /report 로 보냄 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <style>
      div{
        margin-top:40px;
        text-align: center;
         border-style:solid;
        border-width: 1px;
  
      }

      </style>
  </head>
  <body>
    <div>
    <h1>일자리 지역 검색</h1>
    <form action="/report">
      <input  method="get" placeholder='Search for a job' required name="word" />
      <button>Search</button>
      <p> 시,군,구 를 입력해 주세요 예) 평택시,영광군,용산구 </p>
    </form>
    </div>
  </body>
</html>